Repository ClassicPress/ClassicPress, pull requests merged in 2021-09, with the labels that each got.

#788 Add two direct plugin upload links to admin to bypass loading the WP plugin repo
  src/wp-admin/menu.php
  src/wp-admin/plugin-install.php
  src/wp-admin/plugins.php
Labels: enhancement

#714 Fix get comment 8 0
  src/wp-includes/class-wp-comment-query.php
  src/wp-includes/comment.php
Labels: WP backport, community reviewed, PHP 8

#762 Update class-wp-query.php
  src/wp-includes/class-wp-query.php
Labels: community reviewed, PHP 8

#758 WP-r48788: Code Modernization: Remove `final` keyword from private me…
  src/wp-includes/class-wp-session-tokens.php
  tests/phpunit/tests/user/capabilities.php
Labels: WP backport, community reviewed, PHP 8

#686 WP-r50355: Filesystem API: Make sure to only call `fread()` on non-em…
  src/wp-admin/includes/class-pclzip.php
Labels: PHP 8

#718 WP-r48839: Code Modernization: Fix PHP 8 "ArgumentCountError: array_m…
  src/wp-includes/widgets.php
Labels: community reviewed, PHP 8

#778 remove_meta_box triggers warning in PHP 7.4
  src/wp-admin/includes/template.php
  tests/phpunit/tests/admin/includesTemplate.php
Labels: bug, has PR, WP backport, community reviewed

#787 CSS amended for Widgets page
  src/wp-admin/css/widgets.css
Labels: community reviewed
